.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ececec;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.142);
  font-size: 0.8rem;
}
.centroEstetico {
  color: #bfa43a;
  font-weight: bold;
}

.footer p {
  margin: 0;
  padding: 1.2rem 2rem;
}

.imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.imagen1 {
  width: 2.5rem;
}

.imagen2 {
  width: 1.76rem;
}

footer .contactanos {
  padding: 0.5rem 0px;
  display: flex;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .imagen2 {
    width: 1.5rem;
  }

  .imagen1 {
    width: 2rem;
  }

  .footer p {
    margin: 0;
    margin-bottom: 0.3rem;
    padding: 0.2rem 0;
    font-size: 0.6rem;
    line-height: 0.8;
  }

  .imagenes {
    gap: 0.6rem;
  }

  .centroEstetico {
    display: none;
  }

  .texto_eliminado {
    display: none;
  }
}
