.contenedor_formulario {
  padding: 1rem;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 3rem;
  width: 40%;
  height: 50%;
  background-color: #ececec;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(95, 94, 94, 0.3);
}

.inputs_formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.2rem;
  width: 70%;
  margin: 0.5rem;
  padding: 0.3rem;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px rgba(95, 94, 94, 0.3);
  transition: 0.5s;
}

.inputs_formulario:hover {
  box-shadow: 0 2px 4px #bfa43a;
}

.boton_formulario {
  margin: 1rem 1rem;
  padding: 0.5rem;
  width: 73%;
  background-color: #1565c0;
  color: aliceblue;
  border: none;
  border-radius: 0.3rem;
  font-weight: 800;
  cursor: pointer;
}

.boton_formulario:hover {
  background-color: #0d47a1;
}

.inputError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.1rem;
  width: 100%;
}

.tituloH2 {
  color: #bfa43a;
  text-decoration: underline;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.link {
  color: #bfa43a;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: underline;
}

.link:hover {
  color: #0d47a1;
  border-radius: 0.5rem;
  text-decoration: underline;
}

.loader {
  color: #bfa43a;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
