.turno {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 280px;
  padding: 1rem;
  background-color: #ececec;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(95, 94, 94, 0.3);
}

.turno:hover {
  box-shadow: 0 3px 5px #bfa43a;
}

.turno h4 {
  font-weight: 500;
  margin: 0.2rem 0;
}

.boton {
  margin-top: 0.5rem;
  padding: 0.4rem;
  border: none;
  border-radius: 6px;
  background: #c62828;
  color: white;
  cursor: pointer;
}

.boton:hover {
  background: #b71c1c;
}

/* @media (max-width: 768px) {
  .turnos h4 {
    font-size: 0.8rem;
  }
} */
